div {
    text-align: center;
    color:aquamarine;
    background: rgba( 28, 115, 134, 0.228 );
}

body {
        background-image: url("https://lh3.googleusercontent.com/FpQXb3fjRebih0ZMiuXK4NuWARD4zyG-5un8UYDoM0ha7IBOE9iqBtZYbxpV2kKB6w=w300");
}